<div class="modal">
  <div class="modal-content">
    <span class="close-btn" (click)="this.navigateToHome()">&times;</span>
    <h3>Update New Password</h3>
    <div class="password-create">
      <div class="password-nameInput">
        <div>
          <label for="categoryName">Category name</label>
          <input
            type="text"
            id="categoryName"
            [(ngModel)]="categoryName"
            placeholder="work"
            [attr.readonly]="isReadonly ? '' : null"
            disabled="true"
            required
          />
        </div>
        <div>
          <label for="appName">App name</label>
          <input
            type="text"
            id="appName"
            [(ngModel)]="appName"
            placeholder="outlook"
            [attr.readonly]="isReadonly ? '' : null"
            required
            disabled="true"
          />
        </div>
      </div>
      <div>
        <label for="User Name">Username</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          email
          placeholder="testuser@mytest.com"
          required
          [attr.readonly]="isReadonly ? '' : null"
          disabled="true"
        />
      </div>
      <div class="password-container">
        <label for="password">Password</label>
        <input
          [type]="isToggleVisibility() ? 'password' : 'text'"
          id="password"
          [(ngModel)]="password"
          placeholder="********"
          required
        />
        <span id="toggle-icon" class="toggle-icon" (click)="togglePassword()">
          {{ isToggleVisibility() ? "&#128065;" : "&#128584;" }}
        </span>
      </div>
      <div class="modal-footer">
        <button class="update-btn" (click)="onUpdate()">Update</button>
        <button class="delete-btn" (click)="deletePassword()">Delete</button>
      </div>
    </div>
  </div>
</div>
