.password-card {
    width: 40%;
    margin: auto;
    border-radius: 10px; 
    border: 1px solid #d1d1d1;
    overflow: hidden; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    .password-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid #f1f1f1;
        background-color: #fff;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        &:hover {
            background-color: #f9f9f9;
            box-shadow:0px 0px 5px rgba(123, 123, 123, 0.2);
            cursor: pointer;
          }
      }
        .app-name {
            font-size: 0.9rem;
            color: #333;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
        }
        .password-text {
            color: black;
            font-size: 12px;
            text-align: left;
        }
        .actions {
            font-size: 1rem;
            color: #d8d7d7;
            transition: transform 0.2s ease;
            a {
                text-decoration: none;
                color: rgb(82, 138, 243);
            }
        }
      .password-item:last-child {
        border-bottom: none;
      }
  }
  


  