<app-header (toggleModal)="handleModal()" > </app-header>
<div class="password-card">
  <div class="password-item">
    <div class="password-list">
      <span class="title">App Name</span>
    </div>
    <span class="title">Password</span>
    <div class="title">
      <span>Actions</span>
    </div>
  </div>

  <div *ngIf="passwordList().length > 0; else noPasswords">
    <div *ngFor="let item of passwordList(); index as i" class="password-item">
      <div class="password-list">
        <span class="app-name">{{ item.appName }}</span>
      </div>
      <span class="password-text">{{ item.password.substring(0, 20) }}</span>
      <div class="actions">
        <a class="button" [routerLink]="'/password-update/' + item.id">&nbsp; Edit</a>
        <a class="button" (click)="deletePassword(item?.id?.toString())">&nbsp; Delete</a>
      </div>
    </div>
  </div>
  <ng-template #noPasswords>
    <div class="password-item">
      <span>Password Users list is empty</span>
    </div>
  </ng-template>
</div>
<app-password-create *ngIf="isToggle()" (toggleModal)="handleModal()" />
