<div class="modal">
    <div class="modal-content">
      <span class="close-btn" (click)="onAddButtonClick()">&times;</span>
      <h3>Add New Password</h3>
      <div class="password-create">
        <div class="password-nameInput">
          <div>
            <label for="categoryName">Category name</label>
            <input type="text" id="categoryName" [(ngModel)]="categoryName" placeholder=" example work" required/>
          </div>
          <div>
            <label for="appName">App name</label>
            <input type="text" id="appName" [(ngModel)]="appName" placeholder="example outlook" required/>
          </div>
        </div>
        <div>
            <label for="User Name">User name</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" email placeholder="testuser@mytest.com" required/> 
          </div>
        <div>
          <label for="password">Password</label>
          <div class="password-input">
            <input type="password" id="password" [(ngModel)]="password" placeholder="********" required/>
          </div>
        </div>
        <div class="modal-footer">
          <button class="save-btn" (click)="onSubmit()">Save</button>
          <button class="cancel-btn" (click)="onAddButtonClick()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  